@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ======= TYPOGRAPHY & DEFAULTS ======== */

.debug, .debug *{outline:#F00 solid 1px;}

html, body{ font-family: 'Helvetica Neue', sans-serif;}
html{font-size:90%;}
body{font-size:1em; line-height: 1.6em; background:#ffffff;}

h1{font-family: 'Helvetica Neue', sans-serif; font-size:30px; line-height:1.2em;  margin:8px auto 10px; font-weight:600; }
h2{font-family: 'Helvetica Neue', sans-serif; font-size:1.8em; line-height:1.2em; margin:8px auto 10px; font-weight:600; color:#333333;}
h3{font-family: 'Helvetica Neue', sans-serif; font-size:2em; line-height:1.2em; margin:8px auto 4px; font-weight:600; color:#4c4b4c;}
h4{font-family: 'Helvetica Neue', sans-serif; font-size:1.5em; line-height:1.1em; margin:4px auto 2px;}

h5{font-family: 'Helvetica Neue', sans-serif; font-size:1.4em; font-weight:800; color:#b3b3b3; margin:4px auto 2px;}

sup { vertical-align: super; }

p{margin:8px auto 12px;}
i{font-style:italic;}


a{color:#ffffff; text-decoration:none;}
a:hover{color:#ffffff; text-decoration:none;}

a:active,a:focus,
button:active,button:focus,
input:active,input:focus,
textarea:active,textarea:focus{outline:none !important;}

.absolute{position:absolute;}
.relative{position:relative;}
.center{text-align:center;}
.left{text-align:left !important;}
.right{text-align:right;}
.justify{text-align:justify;}

.white{color:#fafafa;}
.black{color:#333333;}

.img-responsive{width:100%;}

.mob-responsive{width:360px;}

strong,b{font-weight:bolder;}


.sec-desc{ min-height:80px; }

/*.input{background:#FFF; display:inline-block; border:#000 solid 4px; border-radius:16px; color:#000; padding: 7px 16px; font:inherit; width:260px; transition: all 300ms; -moz-transition: all 300ms; -ms-transition: all 300ms; -o-transition: all 300ms; -webkit-transition: all 300ms;}
*/
input , button{ outline:none; }

.input[readonly]{color:#666;}

.btn:hover , .btn:active , .btn:focus{color:#ffffff;}


.container-fluid{max-width:1300px;}

/* ====Home page==== */
.header{background:url(http://localhost/otojoy/assets/images/header-bg.jpg) no-repeat top center; background-size:cover; min-height:580px; position:relative;}
.header-other{background:#FFF; position:relative;}

.logo{margin:10px 10px; text-align:left;}
.menu-container{background:url(http://localhost/otojoy/assets/images/menu-bg.png) repeat-x center;  border-bottom-left-radius:5px; border-bottom-right-radius:5px; text-align:center; color:#ffffff;}
.menu-container ul{text-align:center; margin:18px auto; display:inline-block;}
/*.menu-container ul li{padding:0 21px; float:left;}*/
.left_li_padding{
                padding: 0 21px !important;
                float: left;
            }
.main-menu{font-weight:100;}
.main-menu li:after{content:'|'; padding-left:10px;}
.main-menu li:last-child:after{ content:''; padding-right:0; }
.main-menu li:first-child:before{ padding-left:0; }
.menu-container a{font-weight:300; font-size:18px;}
	
.header-text{background-color:rgba(75,74,74,0.8); font-weight:600; padding:10px 20px; color:#ffffff; text-align:center; margin: 120px auto auto; font-size:1.6em; border-radius:5px;}
	
	
.header-input-container{background-color:rgba(187,176,164,0.3); padding:5px; border-radius:5px; position:relative; margin:auto; margin:20px auto auto; font-size:1.1em;}	
.filter-input-container{position:relative; margin:auto; margin:10px auto auto; font-size:1.4em;}	


.input1{border:1px solid #a9a9a9; padding:10px;  font-weight:300; display:inline-block; border-top-left-radius:5px; border-bottom-left-radius:5px; width:50%;}
.input2{border:1px solid #a9a9a9; padding:10px;  font-weight:300; display:inline-block; border-top-right-radius:5px; border-bottom-right-radius:5px; width:50%;}
.search{position:absolute; background:url(http://localhost/otojoy/assets/images/search.png) no-repeat center; top:5px; bottom:0; right:0; margin-right:5px; height:45px; width:54px; outline:none; border:none; border-right-top-radius:5px; border-right-bottom-radius:5px; border-radius:0 5px 5px 0;} 
.filter-search{position:absolute; background:url(http://localhost/otojoy/assets/images/search.png) no-repeat center; top:0px; bottom:0; right:0; margin-right:0px; width:60px; outline:none; border:none; border-radius:0 5px 5px 0;}


.venue-container{margin:30px auto;}
.venue-heading{margin-bottom:30px;}
.venue-item{ border-radius:5px; overflow:hidden; position:relative; margin:15px auto; cursor:pointer; }
.search-venue-item{ cursor:pointer; }
.overlay{background-color:rgba(0,0,0,0.6); color:#ffffff; position:absolute; left:0; right:0; bottom:0; text-align:left; font-size:22px; font-weight:400; letter-spacing:1px; padding:10px 20px;}


.more-categories{margin:0px auto 30px;}
.more-button-container{background-color:rgba(187,176,164,0.3); padding:7px; border-radius:5px; margin:auto; text-align:center;}
.btn-more{background-color:#005fa3; text-align:center; color:#ffffff; padding:10px 30px; outline:none; border:none; width:100%; border-radius:5px; font-size:30px;}

.appstore{background:url(http://localhost/otojoy/assets/images/map.jpg) no-repeat center; background-size:cover; overflow:hidden;}
.app-img-fix{position:relative; height:380px; }
.app-img-fix img{position:absolute; top:-40%;}

.app-desc{margin:100px auto 20px 70px;}
.app-text{font-size:1.4em; font-weight:300; color:#333333;}
.apple-store{padding-left:40px; margin-top:40px;}

/* ==== List section ==== */
.col-25{width:25%;}
.col-50{width:50%;}

.find{}

.filter{ text-align:left; color:#5c5c5c; margin:auto; max-width:1340px; width:95%;}
.btn-filter{border:1px solid #666666; border-radius:5px; margin:0 auto 0 0; padding:0px 10px; color:#5c5c5c; font-size:30px; height: auto; width: 50px;}
.btn-filter:hover, .btn-filter:focus, .btn-filter:active{color:#5c5c5c;}
#filter-box{display:none;}
#filter-opener , #filter-opener:hover , #filter-opener:active , #filter-opener:focus{color:#333333; text-decoration:none;}

.btn-switch-left{width:50%; padding:10px 0; font-size:14px; border:1px solid #999999;  color:#5c5c5c; border-radius:0; margin:0px auto; border-bottom-left-radius:5px; border-top-left-radius:5px;}
.btn-switch-right{width:50%; padding:10px 0; font-size:14px; border:1px solid #999999;   border-radius:0; margin:0px auto; color:#5c5c5c; border-bottom-right-radius:5px; border-top-right-radius:5px;}
.btn-switch-left:hover , .btn-switch-left:active , .btn-switch-left:focus , .btn-switch-right:hover , .btn-switch-right:active , .btn-switch-right:focus{color:#5c5c5c;} 

.map-icon-fix{height:16px !important; width:auto;}

.icon-left-fix{width:12px; height:auto;}

.btn-active , .btn-active:hover , .btn-active:active , .btn-active:focus {color:#ffffff; background:#878787; border:1px solid #878787;}

//#venue-detail{background:url(http://localhost/otojoy/assets/images/list-bg.png) repeat center; background-size:contain; }
.list-container{background:url(http://localhost/otojoy/assets/images/list-bg.png) repeat center; background-size:contain; padding:20px 0; margin:10px auto; }
.list-container p{margin:2px auto; line-height:1.2em;}

.list-heading{padding:30px 0; color:#333333;}

.looped{border:4px solid #257fbe; position:relative; margin:10px auto; height:330px;}
.non-looped{border-bottom:4px solid rgba(255,255,255,0.5); position:relative; box-shadow:0px 0px 2px 2px #CCC;  margin:10px auto; height:330px; }
.non-looped-header{text-transform:uppercase; text-align:center; background:#fda21d; color:#ffffff; font-size:14px; padding:2px; overflow:hidden; position:absolute; top:0; left:0; right:0; z-index:100;}

.list-overlay{background-color:rgba(0,0,0,0.6); color:#ffffff;  text-align:left; font-size:14px; font-weight:300; letter-spacing:1px; padding:5px 10px;}

.list-desc{background:#ffffff;  padding:5px 0; font-weight:300;}

.overlay-container{position:absolute; left:0; right:0; bottom:0; height:auto; overflow:hidden;}


.loop-img{max-height:70px; width:auto;}
.loop-btn , .loop-btn:active , .loop-btn:focus{background:#e6931a; color:#ffffff; font-size:0.8em; padding:5px 10px; text-decoration:none;}
.loop-btn-container{margin:20px auto;}

.location-icon{background:#ffffff url(http://localhost/otojoy/assets/images/location-icon.png) center right no-repeat;}

.icon-small{height:14px; width:auto;}

.icon-mid{height:24px; width:auto; vertical-align:middle;}

.icon-medium{height:auto; width:auto; vertical-align:middle;}

.detail-list-adds{margin:10px auto; vertical-align:middle;}

.g-icon{width:26px; height:auto; padding:0 8px 0 5px;}


/* list Detail */
.btn-general{background:#0099e6; width:100%; padding:10px 20px; color:#ffffff; font-size:18px; line-height:20px; margin:0 auto 5px;}
#venue-detail{background:url(http://localhost/otojoy/assets/images/list-bg.png) repeat center; background-size:contain; position:absolute; left:0; width:100%; overflow:hidden; display:none; bottom:auto; top:0; z-index:10;}
.list-detail-container{border:3px solid #b5b5b5; border-radius:5px; font-size:14px; font-weight:400; background:url(http://localhost/otojoy/assets/images/list-detail-bg.png) no-repeat center; background-size:cover; color:#504f4f; margin:30px 10px 10px;}
.list-detail-container .notch{position:relative; top: -27px; margin-left:-22px;}
.list-detail-container .notch:before{content:url(http://localhost/otojoy/assets/images/grid-details-notch.png); position:absolute;}
.notch-1-3{left:16.665%;}
.notch-2-3{left:49.995%;}
.notch-3-3{left:83.325%;}
.notch-1-2{left:25%;}
.notch-2-2{left:75%;}
.notch-1-1{left:50%;}
.list-detail-container h1{font-size:26px;}
.blue{color:#21a5e8;}

.section-head{margin:5px auto !important;}

.v-middle{vertical-align:middle;}
.slider-container{border-radius:5px; padding:15px 0;}

/* filter box */

.main-filter-container{position:relative;}
.sub-filter-container{position:absolute; z-index:500; top: 0px; left: 0px;right: 0px;}

.filter-container{padding:5px; margin:2px; background:#ffffff; border:10px solid #ffffff;}
.filter-section{background:#ffffff; padding:5px 10px; border-radius:2px; border:1px solid #9d9d9d; text-align:center;}

.filter-section ul{text-align:center; }
.filter-section ul li{display:inline-block; margin:4px 2px;}

.inputcheck{border:none; outline:none;  padding:0px 10px; border:1px solid #9d9d9d; border-radius:20px; background:#ffffff; font-size:14px; }
.checked{background:#005fa2; color:#ffffff; border:1px solid #005fa2; }

.icon-thin{font-weight:100; padding:0 4px; vertical-align:middle;}

.inputcheck .icon-check{display:none; }
.inputcheck.checked .icon-check{display:inline; }
.inputcheck.checked .icon-plus{display:none; }


/* ==== Contact section ==== */
.contact-container{background:url(http://localhost/otojoy/assets/images/list-detail-bg.png) no-repeat center; background-size:cover; min-height:600px; margin:10px auto;}
.contact-section{padding:20px 0; margin:auto; text-align:center;}

.input{border:2px solid #9d9d9d; border-radius:5px; padding:16px; height: auto; width:99%; color:#333333; background:#ffffff;}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
	margin:5px auto;
         
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 16px;
  pointer-events: none;
  
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  50px; }
 .left-addon textarea { padding-left:  50px;}

.right-addon input { padding-right: 30px; }
.input-icon{height:20px; width:auto; vertical-align:middle; margin:auto;  }

textarea.input{padding-top:10px;}

.submit-btn{text-align:center;}
.btn-contact-submit{font-weight:300; width:auto; padding:5px 15px;}

.contact-head{font-size:30px; color:#333333; margin:5px auto; font-weight:600;}
.contact-text{font-size:18px; color:#444343; margin:8px auto; font-weight:400;}

/* ==== List feedback modal ==== */
.close-icon{color:#333333; height:20px; width:auto; border:1px solid #333333; border-radius:50%;}
.feedback-margin{margin:10px auto;}
.feedback-text{color:#333333; font-size:18px;}

.feedback-radio{margin:auto; vertical-align:middle; }
.feedback-checkbox{color:#333333; margin-right:10px; font-size:16px; float:left;}

.modal-header{border:none;}
.modal-footer{border:none;}

.input-feedback{padding:20px;}

/* ==== Request venue ==== */
.headset-text-fix{position:relative; top:-10px; left:0px; right:0; padding-left:25px; vertical-align:middle; font-size:16px;}
.radio-label1{margin-right:15px;}

/* ==== Map section ==== */
.map-container{ margin:10px auto; position:relative;}
#map-canvas{height:700px;}
.infoBox > img{z-index:2;}
.ufxd-infoBox{width: 333px; position:relative;}
.ufxd-infoBox:after{content:url(http://localhost/otojoy/assets/images/infobox-notch.png); position:absolute; bottom:-16px; right:150px;}

.ufxd-infoBox p{margin:1px auto;}
.ufxd-infoBox .list-desc{font-size:1.3em;}

.list-detail-horizontal-container{border:2px solid #ffffff; border-radius:5px; font-size:14px; font-weight:400; background:url(http://localhost/otojoy/assets/images/map.jpg) no-repeat center; background-size:cover; background-size:cover; color:#504f4f; margin:0px auto; position:absolute; right:0; top:0; bottom:auto; z-index:50;}
.map-right-box{max-width:300px; width:90%; font-size:0.8em; line-height:1.2em;}

.sidebar-section{background:#ffffff; border:2px solid #9b9b9b; border-radius:5px; margin:3px auto;}
.list-detail-horizontal-container .slider-container{padding:0;}

.sidebar-overlay{position:absolute; left:0; right:0; bottom:10px; color:#ffffff; z-index:600; padding:16px; text-shadow:rgba(0,0,0,0.8) 1px 1px 2px;}
.sidebar-overlay h1{margin:0;}

.sidebar-close{position:absolute; right:100%; top:0; padding:5px; background:#878787; line-height:0;}
a.sidebar-close:hover{background:#333;}

.map-right-box h1{font-size:1.2em;}
.map-right-box h4{font-size:1em;}
.map-right-box .btn-general{
					width: 100%;
					padding: 8px 6px;
					color: #ffffff;
					font-size: 1.2em;
					line-height: 10px;
					margin: 0 auto 5px;}

.xs-icon{height:16px; width:auto;}

.no-display{display:none;}

/* ==== Parallex Section ==== */

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}
/* fullscreen setup */
/*
html, body {
    height:100%;
}
*/
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

/* CUSTOM SELECT BOX */

.ui-selectmenu-button{width:100% !important; border-radius:20px;}
.ui-selectmenu-button.ui-state-hover{border:#333 solid 1px;}
.ui-selectmenu-menu.ui-front{z-index:9999;}
.ui-selectmenu-button span.ui-icon{background:url(http://localhost/otojoy/assets/images/select-down.png); width:23px; height:13px; right: 0.7em; margin-top: -6px;}
.ui-selectmenu-button span.ui-selectmenu-text{color:#444343; font-weight:300;}
.ui-widget-content .ui-menu-item.ui-state-focus{background:#f0f0f0; font-weight:normal; color:#06F; border:none;}

/* END CUSTOM SELECT BOX */


/* CUSTOM BUTTONS */

.radio-img-yes,.radio-img-no,.radio-img-unknown{display: inline-block; width: 50px; height: 50px; vertical-align: middle; background-repeat: no-repeat; background-position: 0px 0px;}
.radio-img-yes{background-image: url("http://localhost/otojoy/assets/images/chk-img-yes.png"); }
.radio-img-no{background-image: url("http://localhost/otojoy/assets/images/chk-img-no.png"); }
.radio-img-unknown{background-image: url("http://localhost/otojoy/assets/images/chk-img-unknown.png"); }
label.radio-label1{padding: 0;}
.radio-1{display: none;}

.radio-1:checked + .radio-img-yes,
.radio-1:checked + .radio-img-no,
.radio-1:checked + .radio-img-unknown{background-position: 0px -50px;}

.radio-img-round{display: inline-block; width: 34px; height: 34px; vertical-align: middle; background-repeat: no-repeat; background-position: 0px 0px; background-image: url("http://localhost/otojoy/assets/images/chk-round.png"); }
.radio-round{display: none;}
.radio-round:checked + .radio-img-round{background-position: 0px -34px;}

.radio-no-text .radio-label1{margin: -16px 0; }

.checkbox-square{display:none;}
.checkbox-square-img{display:inline-block; width:18px; height:18px; vertical-align:central; background:url(http://localhost/otojoy/assets/images/che-square.png) no-repeat 0px 0px; margin-bottom: -3px; margin-right:4px;}
.checkbox-square:checked + .checkbox-square-img{background-position:0px -18px;}

/* END CUSTOM BUTTONS */

.ok-right{text-align:center;}
.ok-left{}

.touchbtn{font-size:30px; color:#2a6496;}
.touchbtn:hover{color:#2a6496;}
.dropdown-position{right:0;}

@media screen and (max-width:1200px){
	/*
.menu-container{ font-size:0.8em; margin:10px auto;}
.menu li:after{content:'|'; margin-left:5px;}
	*/
	.list-desc{font-size:12px;}
	.n-list-desc{font-size:12px;}
	
		.input1{font-size:16px;}
		.input2{font-size:16px;}
		
.menu-container ul{margin:16px auto;}
.menu-container ul li{padding:0 14px;}

.main-menu li:after{padding-left:24px;}
.main-menu li:last-child:after{ padding-right:0; }
.main-menu li:first-child:before{ padding-left:0; }
.menu-container a{font-size:16px;}



}

@media screen and (max-width:1024px){
	.btn-more{font-size:1.2em;}	
	

}

@media screen and (max-width:991px){


}

@media screen and (max-width:768px){

    .radio-no-text .radio-label1{margin: 10px 0;}
	
.menu-container ul{margin:16px auto;}
.menu-container ul li{padding:0 14px; float:none; display:block;}

.main-menu li:after{content:''; padding-left:24px;}
.main-menu li:last-child:after{ padding-right:0; }
.main-menu li:first-child:before{ padding-left:0; }
.menu-container a{font-size:16px;}

.ok-right{text-align:center;}
.ok-left{text-align:center;}

.apple-store {
padding-left: 0px;
}
 input.error, textarea.error{
  border:1px solid red !important;
  
 }

@media screen and (max-width:348px){
	.list-desc{line-height:1.4em;}
	
	
}

@media screen and (max-width:312px){
	

}