/*

*/

.version.faq_general /* version checker */
{
	color: #000002;
	background-color: #E8EB2B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 999.4500000000007px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 19px;
	width: 0.01px;
}

#u8300
{
	z-index: 263;
	width: 227px;
	height: 91px;
	margin-bottom: -24px;
	margin-right: -10000px;
	left: 100px;
}

#u8308-4
{
	z-index: 240;
	width: 210px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 340px;
}

#u8311
{
	z-index: 254;
	width: 1px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 556px;
}

#u8309-5
{
	z-index: 244;
	width: 132px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 574px;
}

#u8310-5
{
	z-index: 249;
	width: 167px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 724px;
}

#u8310-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 167px;
	margin: 25px -10000px 0px 0px;
}

#u8301
{
	z-index: 259;
	width: 91px;
	margin-bottom: -24px;
	margin-right: -10000px;
	left: 891px;
}

#u8302
{
	z-index: 260;
	width: 91px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u8303
{
	z-index: 261;
	width: 85px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 2px;
}

#u8303:hover
{
	width: 85px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u8303_img
{
	padding-bottom: 6px;
}

#u8312
{
	z-index: 255;
	width: 91px;
	margin-bottom: -24px;
	margin-right: -10000px;
	left: 989px;
}

#u8313
{
	z-index: 256;
	width: 91px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u8314
{
	z-index: 257;
	width: 80px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u8314_img
{
	padding-bottom: 1px;
}

#u8307,#u8307-bw
{
	z-index: 239;
	min-height: 67px;
}

#u8305
{
	z-index: 264;
	width: 200px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 114px;
}

#u70
{
	z-index: 87;
	min-height: 120px;
}

#u70_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	left: -100px;
	margin-bottom: -6px;
}

#menuu7863
{
	z-index: 88;
	width: 878px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 100px;
}

#u7871
{
	width: 139px;
	min-height: 100px;
	margin-right: -10000px;
}

#u7872
{
	width: 139px;
	padding-bottom: 72px;
}

#u7872:hover
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u7872.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u7875-4
{
	width: 106px;
	min-height: 23px;
	margin-right: -10000px;
	top: 38px;
	left: 16px;
}

#u7872:hover #u7875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u7872.MuseMenuActive #u7875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u7864
{
	width: 71px;
	min-height: 100px;
	margin-right: -10000px;
	left: 139px;
}

#u7865
{
	width: 71px;
	padding-bottom: 72px;
}

#u7865.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u7868-4
{
	width: 38px;
	min-height: 23px;
	margin-right: -10000px;
	top: 38px;
	left: 16px;
}

#u7865.MuseMenuActive #u7868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u7914
{
	width: 145px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u7914:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7916-4
{
	width: 66px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 38px;
}

#u7914:hover #u7916-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u7914.MuseMenuActive #u7916-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u7926
{
	width: 145px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u7914.MuseMenuActive,#u7926:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7929-4
{
	width: 104px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u7926:hover #u7929-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u7926.MuseMenuActive #u7929-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u7878
{
	width: 147px;
	min-height: 100px;
	margin-right: -10000px;
	left: 210px;
}

#u7881
{
	width: 147px;
	padding-bottom: 72px;
}

#u7881.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u7884-4
{
	width: 114px;
	min-height: 23px;
	margin-right: -10000px;
	top: 38px;
	left: 16px;
}

#u7881.MuseMenuActive #u7884-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u7869,#u7879
{
	width: 145px;
	top: 100px;
}

#u7933
{
	width: 145px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u7926.MuseMenuActive,#u7933:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7935-4
{
	width: 61px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 40px;
}

#u7933:hover #u7935-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7933.MuseMenuActive #u7935-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7870,#u7913,#u7925,#u7880,#u7932,#u7942
{
	width: 145px;
}

#u7945
{
	width: 145px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u7933.MuseMenuActive,#u7945:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7945.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7948-4
{
	width: 47px;
	min-height: 23px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 47px;
}

#u7945:hover #u7948-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7945.MuseMenuActive #u7948-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7892
{
	width: 127px;
	min-height: 100px;
	margin-right: -10000px;
	left: 357px;
}

#u7893
{
	width: 127px;
	padding-bottom: 72px;
}

#u7893:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7893.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7894-4
{
	width: 94px;
	min-height: 23px;
	margin-right: -10000px;
	top: 38px;
	left: 16px;
}

#u7893:hover #u7894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u7893.MuseMenuActive #u7894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u7899
{
	width: 152px;
	min-height: 100px;
	margin-right: -10000px;
	left: 484px;
}

#u7900
{
	width: 152px;
	padding-bottom: 72px;
}

#u7900:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u7900.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u7902-4
{
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	top: 38px;
	left: 16px;
}

#u7900:hover #u7902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u7900.MuseMenuActive #u7902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u9297
{
	width: 94px;
	min-height: 100px;
	margin-right: -10000px;
	left: 636px;
}

#u9298
{
	width: 94px;
	padding-bottom: 72px;
}

#u9298:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u9298.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u9300-4
{
	width: 61px;
	min-height: 23px;
	margin-right: -10000px;
	top: 38px;
	left: 16px;
}

#u9298:hover #u9300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u9298.MuseMenuActive #u9300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7906
{
	width: 148px;
	min-height: 100px;
	margin-right: -10000px;
	left: 730px;
}

#u7907
{
	width: 148px;
	padding-bottom: 72px;
}

#u7907:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u7907.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u7909-4
{
	width: 115px;
	min-height: 23px;
	margin-right: -10000px;
	top: 38px;
	left: 16px;
}

#u7907:hover #u7909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u7907.MuseMenuActive #u7909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u70-bw
{
	z-index: 87;
	min-height: 120px;
	margin-top: -6px;
}

#u5478
{
	z-index: 17;
	min-height: 300px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/faq-image.jpg") no-repeat center center;
	background-size: cover;
}

#u5478_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#u5479-4
{
	z-index: 18;
	width: 704px;
	min-height: 61px;
	background-color: #32AADF;
	background-color: rgba(0,149,215,0.8);
	padding-top: 19px;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 100px;
	-pie-background: rgba(0,149,215,0.8);
}

#u5478-bw
{
	z-index: 17;
	min-height: 300px;
}

#pu8307,#pu5737-4
{
	width: 0.01px;
	margin-left: -100px;
}

#u5737-4
{
	z-index: 2;
	width: 65px;
	min-height: 29px;
	border-style: solid;
	border-color: #0095D7;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 11px;
	color: #0095D7;
	text-indent: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 123px;
	border-width: 0px 0px 0px 4px;
}

#u5737-4.PamphletThumbSelected
{
	padding-top: 11px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 65px;
	margin: 51px -10000px 0px 0px;
}

#u5738-6
{
	z-index: 6;
	width: 79px;
	min-height: 43px;
	background-color: transparent;
	text-indent: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 124px;
}

#u5738-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 79px;
	margin: 98px -10000px 0px 0px;
}

#u5738-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 79px;
	margin: 98px -10000px 0px 0px;
}

#u5738-6.PamphletThumbSelected
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 79px;
	margin: 98px -10000px 0px 0px;
}

#u5738-6:hover p
{
	color: #0095D7;
	visibility: inherit;
}

#u5738-6:active p
{
	color: #43C3FB;
	visibility: inherit;
}

#u5738-6.PamphletThumbSelected p
{
	color: #000000;
	visibility: inherit;
}

#general
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u5474
{
	z-index: 13;
	width: 1000px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u5476
{
	z-index: 15;
	width: 1000px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,1000,100);
	-ms-transform: matrix(-1,0,0,-1,1000,100);
	transform: matrix(-1,0,0,-1,1000,100);
	position: relative;
	margin-right: -10000px;
	margin-top: 1780px;
	left: 90px;
}

#u5480
{
	z-index: 22;
	width: 1px;
	height: 1784px;
	border-style: none;
	border-color: transparent;
	background-color: #E5E5E5;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 202px;
}

#u5732-61
{
	z-index: 23;
	width: 838px;
	min-height: 1792px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 219px;
}

#u5733
{
	float: right;
/*	margin-top: 6px;*/
	margin-bottom: 4px;
	margin-left: 19px;
}

#u5734
{
	z-index: 31;
	width: 544px;
	background-color: transparent;
}

#u5734_clip
{
	overflow: hidden;
	width: 544px;
	height: 722px;
}

#u5734_img
{
/*	margin-left: -22px;
	margin-bottom: -11px;*/
}

#u8410
{
	z-index: 159;
	min-height: 136px;
	padding-bottom: 15px;
}

#u8307_align_to_page,#u8410_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	left: -100px;
}

#pu8417-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 126px;
}

#u8417-4
{
	z-index: 160;
	width: 193px;
	min-height: 23px;
}

#pu8401-5
{
	width: 0.01px;
	margin-top: 15px;
}

#u8401-5
{
	z-index: 164;
	width: 74px;
	min-height: 20px;
	margin-right: -10000px;
}

#u8401-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u8407-5
{
	z-index: 169;
	width: 46px;
	min-height: 20px;
	margin-right: -10000px;
	left: 108px;
}

#u8407-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u8405-5
{
	z-index: 179;
	width: 31px;
	min-height: 20px;
	margin-right: -10000px;
}

#u8405-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u8415-5
{
	z-index: 184;
	width: 64px;
	min-height: 20px;
	margin-right: -10000px;
	left: 108px;
}

#u8415-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#pu8405-5,#pu8413-5
{
	width: 0.01px;
	margin-top: 11px;
}

#u8413-5
{
	z-index: 194;
	width: 76px;
	min-height: 20px;
	margin-right: -10000px;
}

#u8413-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u9132-5
{
	z-index: 189;
	width: 80px;
	min-height: 20px;
	margin-right: -10000px;
	left: 108px;
}

#u9132-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#pu8406-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 54px;
	margin-left: 342px;
}

#u8406-5
{
	z-index: 199;
	width: 76px;
	min-height: 20px;
}

#u8406-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 76px;
	margin: 0px;
}

#u8414-5
{
	z-index: 174;
	width: 57px;
	min-height: 20px;
	margin-top: 11px;
}

#u8414-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 57px;
	margin: 11px 0px 0px;
}

#u8411
{
	z-index: 213;
	width: 1px;
	height: 110px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 437px;
}

#pu8400-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 475px;
}

#u8400-4
{
	z-index: 214;
	width: 132px;
	min-height: 23px;
}

#u8408-5
{
	z-index: 218;
	width: 132px;
	min-height: 24px;
	margin-left: 1px;
	margin-top: 15px;
}

#u8403-5
{
	z-index: 223;
	width: 167px;
	min-height: 22px;
	margin-left: 1px;
	margin-top: 7px;
}

#u8403-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 167px;
	margin: 7px 0px 0px 1px;
}

#u8309-3,#u8310-3,#u8408-3,#u8403-3
{
	padding-left: 26px;
}

#u8309-3.rtl-list,#u8310-3.rtl-list,#u8408-3.rtl-list,#u8403-3.rtl-list
{
	padding-left: 0px;
	padding-right: 26px;
}

#u8309-3 > li:before,#u8310-3 > li:before,#u8408-3 > li:before,#u8403-3 > li:before
{
	margin-right: 10px;
}

#u8309-3.rtl-list > li:before,#u8310-3.rtl-list > li:before,#u8408-3.rtl-list > li:before,#u8403-3.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 10px;
}

#u8404
{
	z-index: 228;
	width: 1px;
	height: 110px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 680px;
}

#pu8402-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 719px;
}

#u8402-4
{
	z-index: 229;
	width: 356px;
	min-height: 23px;
}

#u8416-6
{
	z-index: 233;
	width: 251px;
	min-height: 24px;
	margin-left: 1px;
	margin-top: 15px;
}

#u8410-bw
{
	z-index: 159;
	min-height: 136px;
}

#pu8412-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 19px;
}

#u8412-4
{
	z-index: 204;
	width: 492px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u8409-5
{
	z-index: 208;
	width: 77px;
	min-height: 21px;
	margin-right: -10000px;
	left: 856px;
}

#u8409-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

@font-face
{
	font-family: '__iconvault_5';
	src: url('../fonts/iconvault_48dd285f491077bb219fe2f219bdf27b.eot');
	src: local('☺'), url('../fonts/iconvault_48dd285f491077bb219fe2f219bdf27b.woff') format('woff'), url('../fonts/iconvault_48dd285f491077bb219fe2f219bdf27b.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

