@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 600;
  src: local('Helvetica Neue Bold'), local('HelveticaNeueBold'), url(HelveticaNeue-Bold.html) format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue'), local('HelveticaNeue'), url(HelveticaNeue.html) format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('HelveticaNeue-Light'),  local('HelveticaNeueLight'), local('Helvetica Neue Light'), url(HelveticaNeue-Light.html) format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local('HelveticaNeue-Ultra-Light'),  local('HelveticaNeueUltraLight'), local('Helvetica Neue Ultra Light'), url(HelveticaNeue-UltraLight.html) format('opentype');
}