/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
        border-radius: 4px !important;
}

.portlet .portlet-title {
        border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
        border-radius: 0px 0px 4px 4px !important;
}
*/
#pre_image,#tmp_pre_image {
    max-height:200px; 
    max-width:200px;
    border: 1px solid grey;
    overflow: hidden;
}

.pac-container
{
    z-index:10056 !important;
}
.loop_room_custom{
    float: left;
    border: 1px solid #cecece;
    white-space: nowrap;
    height: 34px;
    padding: 5px;
}
.loop_room_custom span {
    color: #d84a38
}
.deletevenueimage{
    right: 38% !important;
}
.modal{
    //background-color: transparent !important;
}
.logo_inner a:hover{
    background: none !important;

}
.col-20{
    width: 20% !important;
}
.dashboard-font-custom{
    font-size: 12px !important;
}

@media (max-width: 991px)
{
    .col-20 {
        width: 100% !important;
    }
    .dashboard-font-custom{
        font-size: 16px !important;
    }
}
label.error{
          color:red;
      }